// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #49525c;

// Override Bootstrap color system

$lightblue: #23beed;

// Override Bootstrap default state colors

$primary: $lightblue;
